<button mat-fab (click)="openTransactionDialog()">
  <mat-icon>add</mat-icon>
</button>

<!-- <h1>{{ 'TRANSACTIONS' | translate }}</h1> -->

<div *ngFor="let monthYear of getSortedMonths()" class="month-section">
  <h2>{{ monthYear }}</h2>
  <table>
    <thead>
      <tr>
        <th>{{ 'NUMBER' | translate }}</th>
        <th>{{ 'DATE' | translate }}</th>
        <th>{{ 'AMOUNT' | translate }}</th>
        <!-- <th>{{ 'NET_AMOUNT' | translate }}</th> -->
        <th>{{ 'DESCRIPTION' | translate }}</th>
        <th>{{ 'CATEGORY' | translate }}</th>
        <th>{{ 'TYPE' | translate }}</th>
        <th>{{ 'DOCUMENT' | translate }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of groupedTransactions[monthYear]">
        <td>{{ transaction.documentNumber }}</td>
        <td>{{ transaction.date | date:'dd.MM.yyyy' }}</td>
        <td>€ {{ transaction.gross | number:'1.2-2' }}</td>
        <!-- <td>{{ transaction.net }}</td> -->
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.incomeExpenses === 'income' ? '+' : '-' }}</td>
        <td>
          <ng-container *ngIf="transaction.documentName; else noDocument">
            <img [src]="getIconType(transaction.documentName)" width="24" height="24">
          </ng-container>
          <ng-template #noDocument>
            <span>X</span>
          </ng-template>
        </td>
        <td>
          <button mat-icon (click)="editTransaction(transaction)" style="position: inherit; border: none; background: none">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon (click)="deleteTransaction(transaction)" style="position: inherit; border: none; background: none">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

