<div class="container">
  <h2>{{ 'RESET_PASSWORD' | translate }}</h2>
  <p>{{ 'RESET_PASSWORD_INSTRUCTIONS' | translate }}</p>
  <div class="form-group">
    <label for="resetEmail">{{ 'EMAIL' | translate }}</label>
    <input type="email" class="form-control" id="resetEmail" [(ngModel)]="resetEmail" name="resetEmail" required>
  </div>
  <button class="btn btn-primary" (click)="resetPassword()">{{ 'SEND_RESET_LINK' | translate }}</button>
  <p>{{ 'BACK' | translate }} <a routerLink="/signin">{{ 'BACK_TO_SIGNIN' | translate }}</a></p>
</div>

<!--<div class="container">
  <div class="form-group">
    <label for="resetEmail">{{ 'EMAIL' | translate }}</label>
    <input type="email" class="form-control" id="resetEmail" [(ngModel)]="resetEmail" name="resetEmail" required>
  </div>
</div>-->
